.Wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    background: #1D2F50;
    height: 100vh;
}

.chead {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-inline-start: 10px;
    padding: 3%;
    background-color: white;
}

.text {
    color: #EC4E68;
    font-family: Jomhuria;
    font-weight: 800;
}

.arrow {
    width: 16px;
    height: 38px;
}

.cbody {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
    margin-inline-start: 60px;
    margin-block: 1%;
}

.formwrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.t1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 400;
}

.t2 {
    color: #A9C8FF;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.t1,
.t2 {
    padding: 10px 0px;
}

.cform {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.cform label {
    display: flex;
    flex-direction: column;
    padding: 5px 2px;
    color: #A9C8FF;
    font-family: Poppins;
    font-size: 21.31px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cform input {

    width: 600px;
    height: 35px;
    border-radius: 20.616px;
    border: 2.298px solid #7A8CA4;
    background: #F6F9FF;
}

.cform textarea {
    width: 600px;
    height: 105px;
    border-radius: 20.616px;
    border: 2.298px solid #7A8CA4;
    background: #F6F9FF;
}

.cform button {
    width: 600px;
    height: 40px;
    border-radius: 20.616px;
    border: 2.298px solid #A9C8FF;
    background: #1D2F50;
    margin-top: 5px;
}

.cform button h5 {
    margin: 0;
    flex-shrink: 0;
    color: #F6F9FF;
    font-family: Poppins;
    font-size: 21.31px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.itm {
    padding: 5px 0px;
}

.error {
    display: flex;
    flex-direction: column;
    color: #A9C8FF;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    padding-top: 5px;
    padding-left: 10px;
    align-items: flex-start;

}

.cpic {
    width: 557px;
    height: 522px;
    padding-right: 10%;
}